<%= link_to "Home", static_pages_index_path %>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000/index"></a>

<%= link_to "About", @about%>

<%= link_to "Contact", static_pages_contact_path%>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000/contact"></a>

<p class="huh"></p>
<h1>This is Berlin Bikes!</h1>
<p>A place where you can find a bike you like, for a price you LOVE!</p>
