<%= link_to "Home", static_pages_index_path %>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000/index"></a>

<%= link_to "About", static_pages_about_path %>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000/about"></a>

<%= link_to "Contact", @contact%>

<h1>Contact Us!</h1>
<p>Berlin Bikes is in Berlin!</p>

